# Gradle files
.gradle/
build/

# Local configuration file (sdk path, etc)
local.properties

# Android Studio generated folders
.navigation/
captures/
.externalNativeBuild

# IntelliJ project files
*.iml
.idea/

# Signing files
.signing/

# Misc
.DS_Store
.vagrant

examples/server-nodejs/node_modules
examples/server-nodejs/uploads
npm-debug.log
javadoc
uploadservice-demo-debug.apk
